/PS-Zajednicki/nbproject/private/
/PS-Zajednicki/build/
/PS-Zajednicki/dist/
/PS-Server/nbproject/private/
/PS-Server/build/
/PS-Server/server.config
/PS-Zaposleni/nbproject/private/
/PS-Zaposleni/build/
